* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
li {
  list-style: none;
}
input {
  border: none;
  background: none;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}